{% extends 'base.html' %}

{% block content %}
            <form id="registerForm" method="post" action= {{ url_for('add') }}>

                  <label>Agency Index</label>
                  {{ form.index(placeholder="E.g. 1") }}
                  <small style="color:red;">Only use this if ammending an agency record, not for new records</small>


                  <br><br><label>Agency Name</label>
                  {{ form.agencyName(placeholder="E.g. Two Swans") }}

                  <br><br><label>Website</label>
                  {{ form.website(placeholder="E.g. www.twoswans.com") }}

                  <br><br><label>Location</label>
                  {{ form.location(placeholder="Insert Country") }}

                  <br><br><label>Description</label>
                  {{ form.description(placeholder="Insert description") }}


                <br><button class="fluid ui blue submit button" type="submit">Register</button>
            </form>

{% endblock %}
